@model MvcPaging.IPagedList<IAAI0731.Models.BackModel.News>

@{
    ViewBag.Title = "news";
    Layout = "~/Views/AboutUsIntro/_AboutUsLayout.cshtml";
}
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

    <h2 class="page-title">訊息發布</h2>
    <hr class="botmargin-min">

    @foreach (var item in Model)
    {
        <div class="post">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="post-media post-image">
                        <a href="/Press/Detail?id=@item.Id"><img alt="img" src="@item.Photos.FirstOrDefault().FilePath" class="img-responsive"></a>

                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="post-body">
                        <div class="entry-header">
                            <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @item.CreateAt.ToString("yyyy/MM/dd")</span>
                            <h3 class="entry-title">
                                <a href="/Press/Detail?id=@item.Id">@item.Title</a>
                            </h3>
                            <p>
                                    @item.Description
                            </p>

                        </div>
                        <!-- header end -->
                        <div class="post-footer">
                            <a href="/Press/Detail?id=@item.Id" class="btn btn-primary">more</a>
                        </div>
                    </div>
                    <!-- post-body end -->
                </div>
            </div>
        </div>
    }

    <!--分頁開始-->
    <div class="pager">
        <div class="pages">
            <div class="pagination">
                @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
            </div>
        </div>
    </div>
    <!--分頁結束-->
</div>