@model IAAI0731.Models.BackModel.Expert

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Backend/Views/MainPanel/_MainPanel.cshtml";
}


<style>
    .page-title {
        text-align: left;
    }
</style>

<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    <h2 class="page-title">專家介紹頁</h2>

    @using (Html.BeginForm("Detail", "AboutUs", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                <h4>姓名:</h4>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class=" col-md-7">
                    <h4>變更封面照:</h4>
                    <input class="form-control mb-3" type="file" name="file" />
                    <p class="text-danger"> 註 : 檔案大小不可大於4MB </p>
                    @Html.ValidationMessage("Invalid Input", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <h4>現職描述:</h4>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentJobDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CurrentJobDescription, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-7">
                    <h4>補充說明:</h4>
                    @Html.TextAreaFor(model => model.AdditionalInfo, new { @class = "form-control ckeditor", name = "ckeditor" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="修改" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("回至列表", "ListAssociationExpert", "AboutUs")
    </div>
</div>